<footer class="mt-auto py-3 container-fluid">
  <div class="row footer">
    <div class="col-4">
      <a class="float-left">
        <%= render "layouts/logo" %>
      </a>
    </div>
    <div class="col-4">
      <div class="footer_copyright">
        <p class="text">© 2020 Watermark. All Rights Reserved.</p>
      </div>
    </div>
    <div class="col-4">
      <p class="float-right back-to-top">
        <a href="#">Back to top</a>
      </p>
    </div>
  </div>
</footer>
