<!DOCTYPE html>
<html lang="en">
<head>
  <title>Watermark Dictionary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container" id="content" tabindex="-1">
    <%= yield %>
  </div>
</body>
</html>
